body {
    background-image: url("/images/avenida.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; 
    height: 100vh; 

}

.construct {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.construct h1 {
    text-align: center;
    color: white;
}

.text {
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    width: auto;
    border-radius: 100px;
}



@media (max-width: 1400px) {
    .construct h1 {
        font-size: 3rem; /* Ajuste o tamanho da fonte conforme necessário */
    }
}

@media (max-width: 1024px) {
    .construct {
        padding: 20px;
    }
    .construct h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .construct {
        padding: 10px;
    }
    .construct h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .construct {
        padding: 5px;
    }
    .construct h1 {
        font-size: 1.5rem;
    }
}